*{
    padding: 0;
    margin: 0;
    color: black;
}

html, body{
    background-color: #E6EBE0;
}

.main-container{
    border: 1px solid #16425B;
    border-radius: 1cm;
    margin: 1rem;
    background-color: #2F6690;
}
nav{
    text-align: center;
    font: 22px sans-serif;
}

nav, section, footer, aside{
    border: 3px solid #16425B;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

aside{
    text-align: left;
    font: 19px sans-serif;
    width: 50%;
    display: inline-block;
    height: 160px;
    background-color: #81C3D7;
}

article{
    text-align: center;
    width: 40%;
    display: inline-block;
    height: 150px;
}

nav, section, footer{
    background-color: #E6EBE0 ;
}
h2{
    text-align: center;
    font: 22px sans-serif;
    font-style: oblique;
}
ul{
    font: 18px sans-serif;  
}
footer{
    font: 10px sans-serif;
}
img{
    border: 8px solid #16425B;
}